html {
    box-sizing: border-box
}
*,* :before, *:after {
    box-sizing:inherit;
}


body {
    padding: 2.5rem 10rem;
    background-color: #f1f1f1;
    scroll-behavior: smooth;
}

blockquote::before {
    content: "\"";
    font-size: 2rem; 
}
blockquote::after {
    content: "\"";
    font-size: 2rem; 
}
blockquote {
    border-left: 2px solid rgba(0, 0, 0, 0.5);
    padding: 1rem 1rem 1rem 2.5rem;
    max-width: 45% ;
    float: right;
    background-color: rgba(200,200,200, 0.3);
}

.blockquote__author {
    text-align: right;
    font-style: italic;
    font-weight: 600;  
    margin: 1rem 0;
}

.site__heading {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    padding: 0 0 1rem 0;
}

.site__content {
    display: inline-block;
    max-width: 80%;
}

.floating__image-right {
    height: auto;
    width: 12rem;
    float: right;
    margin: 1rem 0 1rem 1rem ;
    border: 1px solid rgba(0, 0, 0, 0.4);
    padding: 0.5rem;
    box-shadow: -15px 15px 16px -5px rgba(0, 0, 0, 0.2);

}
.floating__image-right::after {
    content: '';
    clear: both;
    display: block;
}

.floating__image-left {
    height: auto;
    width: 12rem;
    float: left;
    margin: 1rem 1.5rem 1rem 0rem ;
    border: 1px solid rgba(0, 0, 0, 0.4);
    padding: 0.5rem;
    box-shadow: 15px 15px 16px -5px rgba(0, 0, 0, 0.2);

}
.floating__image-left:hover {
    transition:  0.3s;
}
.floating__image-left::after {
    content: '';
    clear: both;
    display: block;
}

.article__header {
    display: inline-block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.article__header__container {
    text-align: center;
}

.sidebar__container {
    float: right;
    position: sticky;
    left: 0; top:2rem;
    width: 15%; 
}

.sidebar__container::after {
    display: block;
    content: "";
    clear: both;
}

.sidebar__container{
    border: 1px solid rgba(200,200,200, 0.4);
}

.sidebar__list {
    padding: 0;
    margin: 1rem;
}


.sidebar__list-item {
    list-style-type: none;
    margin: 0.5rem 0;   
}

.sidebar__list-item a {
    text-decoration: none;
    color:black;
}

.sidebar__list-item a:hover {
    color: rgba(150,150,150, 1)
}

.nav__list-item {
    list-style-type: none;
}